This notebook analyses how many times certain craving trigger categories appear in the craving set grouped by author that was created with "RedditAnalyzer"

In [ ]:
from google.colab import data_table
import pandas as pd
data_table.enable_dataframe_formatter()

#retrieve posts from csv
grouped = pd.read_csv("grouped_posts.csv")
grouped = grouped.drop(['level_0', 'index'], axis=1)
grouped = grouped.rename(columns={"Unnamed: 2": "author"})
grouped

Warning: total number of rows (24435) exceeds max_rows (20000). Falling back to pandas display.

,author,join_posts,count_posts
0,ginger_sprout,In which I fuck everything up and then have a ...,97
1,Ohhshitfuck,I relapsed….\nIt happened Thursday night. It w...,78
2,LunaValley,Went for a drink with a friend last night and ...,75
3,SaintHomer,"The Daily Check-In for Friday, March 25th: Jus...",51
4,AlecASaurus,I Know I Can Do Better\nAnd it kind of scares ...,48
...,...,...,...
24430,Sree58,Successful Day 3 of the 30-day Abstinence prom...,1
24431,SrLOchris,Hanging with my drinking buddy of 15 years ton...,1
24432,Squooooosh,Day 5 - Challenges coming soon\nStarted on thi...,1
24433,SquishyFaceDogs10,Drank 6 bud lights last night after my gf left...,1
24434,averagegarlic,two weeks - checking in\nEarlier this month my...,1

In [ ]:
#retrieve similar terms that were created with the help of "similarity_analyser"
similar_terms = pd.read_csv("curated_synonyms.csv")
similar_terms

Warning: Total number of columns (66) exceeds max_columns (20). Falling back to pandas display.

,alone,alone_sim,alone_count,friend,friend_sim,friend_count,family,family_sim,family_count,partner,...,happy_count,proud,proud_sim,proud_count,bored,bored_sim,bored_count,weekend,smoke,smoke_count
0,alone,1.000,5788.0,friend,1.000,16991.0,family,1.000,8007.0,partner,...,6215.0,proud,1.000,3411.0,bored,1.000,1315.0,friday,smoke,1213.0
1,isolated,0.555,383.0,buddy,0.691,776.0,parent,0.627,2404.0,girlfriend,...,NaN,accomplished,0.633,273.0,NaN,NaN,NaN,saturday,cigarette,1102.0
2,lonely,0.500,1255.0,NaN,0.655,17545.0,dad,0.614,2028.0,husband,...,NaN,accomplishment,NaN,NaN,boredom,0.584,972.0,sunday,weed,1598.0
3,cooped,0.429,24.0,NaN,0.646,1080.0,brother,0.598,1330.0,boyfriend,...,1290.0,milestone,NaN,NaN,boring,0.572,717.0,weekend,smoking,1914.0
4,NaN,NaN,NaN,NaN,0.562,810.0,mother,0.583,1552.0,wife,...,2591.0,NaN,NaN,NaN,NaN,NaN,NaN,end week,smoked,437.0
5,quarantining,0.444,14.0,meet,0.514,952.0,wife,0.572,4241.0,relationship,...,22409.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cigs,135.0
6,NaN,NaN,NaN,pregaming,0.617,12.0,sister,0.570,1100.0,ex,...,955.0,NaN,NaN,NaN,cooped,0.530,24.0,NaN,smoker,180.0
7,NaN,NaN,NaN,groomsman,0.596,16.0,mom,0.568,2478.0,bf,...,25188.0,NaN,NaN,NaN,unmotivated,0.449,76.0,NaN,nicotine,296.0
8,NaN,NaN,NaN,friendsgiving,0.582,13.0,father,0.543,1337.0,spouse,...,748.0,NaN,NaN,NaN,NaN,0.443,209.0,NaN,juul,16.0
9,NaN,NaN,NaN,bros,0.538,13.0,sibling,0.527,181.0,fiance,...,2991.0,NaN,NaN,NaN,NaN,0.440,1183.0,NaN,puff,30.0
10,NaN,NaN,NaN,NaN,NaN,NaN,cousin,0.525,246.0,gf,...,38079.0,NaN,NaN,NaN,monotony,0.439,39.0,NaN,cig,40.0
11,NaN,NaN,NaN,NaN,NaN,NaN,grandma,0.501,124.0,unfaithful,...,11522.0,NaN,NaN,NaN,demotivated,0.501,10.0,NaN,bong,19.0
12,NaN,NaN,NaN,NaN,NaN,NaN,aunt,0.497,170.0,fiancé,...,980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hash,16.0
13,NaN,NaN,NaN,NaN,NaN,NaN,stepmom,0.493,42.0,significant other,...,2333.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0
14,NaN,NaN,NaN,NaN,NaN,NaN,grandpa,0.493,559.0,my so,...,18247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tobacco,162.0
15,NaN,NaN,NaN,NaN,NaN,NaN,grandparent,0.492,211.0,NaN,...,10951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vape,90.0
16,NaN,NaN,NaN,NaN,NaN,NaN,grandchild,0.484,1191.0,NaN,...,751.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,paternal,0.574,1100.0,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mj,19.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cigar,54.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,toke,13.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pot,436.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cannabis,189.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,joint,183.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hemp,12.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vaping,82.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Attribute anaylsis

In [ ]:
!pip install nltk
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

###Preprocessing

In [ ]:
grouped['post'] = grouped['join_posts']
grouped['post'].dropna(inplace=True)
grouped['post'] = grouped['post'].str.lower()

tokenizer = RegexpTokenizer(r'\w+')
grouped['post_tokens'] = grouped['post'].astype(str).apply(tokenizer.tokenize)

# Make a list of english stopwords
stopwords = nltk.corpus.stopwords.words("english")
grouped['post_tokens'] = grouped['post_tokens'].apply(lambda x: [item for item in x if item not in stopwords])

wordnet_lem = WordNetLemmatizer()
grouped['post_lemmas'] = grouped['post_tokens'].apply(lambda l: [wordnet_lem.lemmatize(x) for x in l])
grouped['processed_post'] = grouped['post_lemmas'].apply(lambda l: ' '.join(l))
grouped

Warning: total number of rows (24435) exceeds max_rows (20000). Falling back to pandas display.

,author,join_posts,count_posts,post,post_tokens,post_lemmas,processed_post
0,ginger_sprout,In which I fuck everything up and then have a ...,97,in which i fuck everything up and then have a ...,"[fuck, everything, white, lightning, experienc...","[fuck, everything, white, lightning, experienc...",fuck everything white lightning experience sev...
1,Ohhshitfuck,I relapsed….\nIt happened Thursday night. It w...,78,i relapsed….\nit happened thursday night. it w...,"[relapsed, happened, thursday, night, alcohol,...","[relapsed, happened, thursday, night, alcohol,...",relapsed happened thursday night alcohol actua...
2,LunaValley,Went for a drink with a friend last night and ...,75,went for a drink with a friend last night and ...,"[went, drink, friend, last, night, embarrassin...","[went, drink, friend, last, night, embarrassin...",went drink friend last night embarrassing fast...
3,SaintHomer,"The Daily Check-In for Friday, March 25th: Jus...",51,"the daily check-in for friday, march 25th: jus...","[daily, check, friday, march, 25th, today, dri...","[daily, check, friday, march, 25th, today, dri...",daily check friday march 25th today drinking m...
4,AlecASaurus,I Know I Can Do Better\nAnd it kind of scares ...,48,i know i can do better\nand it kind of scares ...,"[know, better, kind, scares, drink, sober, wak...","[know, better, kind, scare, drink, sober, wake...",know better kind scare drink sober wake see cl...
...,...,...,...,...,...,...,...
24430,Sree58,Successful Day 3 of the 30-day Abstinence prom...,1,successful day 3 of the 30-day abstinence prom...,"[successful, day, 3, 30, day, abstinence, prom...","[successful, day, 3, 30, day, abstinence, prom...",successful day 3 30 day abstinence promise day...
24431,SrLOchris,Hanging with my drinking buddy of 15 years ton...,1,hanging with my drinking buddy of 15 years ton...,"[hanging, drinking, buddy, 15, years, tonight,...","[hanging, drinking, buddy, 15, year, tonight, ...",hanging drinking buddy 15 year tonight everybo...
24432,Squooooosh,Day 5 - Challenges coming soon\nStarted on thi...,1,day 5 - challenges coming soon\nstarted on thi...,"[day, 5, challenges, coming, soon, started, ne...","[day, 5, challenge, coming, soon, started, new...",day 5 challenge coming soon started new path p...
24433,SquishyFaceDogs10,Drank 6 bud lights last night after my gf left...,1,drank 6 bud lights last night after my gf left...,"[drank, 6, bud, lights, last, night, gf, left,...","[drank, 6, bud, light, last, night, gf, left, ...",drank 6 bud light last night gf left work work...
24434,averagegarlic,two weeks - checking in\nEarlier this month my...,1,two weeks - checking in\nearlier this month my...,"[two, weeks, checking, earlier, month, partner...","[two, week, checking, earlier, month, partner,...",two week checking earlier month partner told c...

In [ ]:
#create dictionary from trigger (or concept) to a list of simlar terms that were retrieved earlier
concepts = ["alone", "friend", "family", "partner", "colleague", "home", "university", "work", "restaurant", "party", "workout", "supermarket", "airport", "anxious", "sad", "stressed", "tired", "frustrated", "happy", "proud", "bored","weekend","smoke"]
concept_dict = {}
for c in concepts:
    concept_dict[c] = similar_terms[c].dropna().tolist()

print(concept_dict)

{'alone': ['alone', 'isolated', 'lonely', 'cooped', 'quarantining'], 'friend': ['friend', 'buddy', 'meet', 'pregaming', 'groomsman', 'friendsgiving', 'bros'], 'family': ['family', 'parent', 'dad', 'brother', 'mother', 'wife', 'sister', 'mom', 'father', 'sibling', 'cousin', 'grandma', 'aunt', 'stepmom', 'grandpa', 'grandparent', 'grandchild', 'paternal'], 'partner': ['partner', 'girlfriend', 'husband', 'boyfriend', 'wife', 'relationship', 'ex', 'bf', 'spouse', 'fiance', 'gf', 'unfaithful', 'fiancé', 'significant other', 'my so'], 'colleague': ['colleague', 'coworkers', 'ceo', 'manager', 'conference', 'networking', 'boss', 'meetups', 'supervisor'], 'home': ['home', 'house', 'bed', 'kitchen', 'living room'], 'university': ['university', 'college', 'school', 'uni', 'campus', 'dorm', 'classroom', 'professor', 'teacher'], 'work': ['work', 'working', 'wfh', 'worked', 'job', 'office', 'shift', 'job'], 'restaurant': ['restaurant', 'bar', 'cocktail', 'menu', 'server', 'waitress', 'waiter', 'bartender', 'dining', 'appetizer', 'brewery', 'bartend', 'steakhouse', 'seafood', 'brewpub', 'buffet', 'club', 'appetizer', 'pub', 'nightclub', 'bowling', 'establishment'], 'party': ['party', 'bachelorette', 'festivity', 'gathering', 'togethers', 'cookout', 'clubbing', 'wedding', 'bachelor', 'tailgate', 'hosted', 'reunion', 'bonfire', 'costume', 'partiers', 'stag', 'friendsgiving', 'bridal', 'pregaming', 'partying'], 'workout': ['workout', 'gym', 'exercise', 'routine', 'crossfit', 'cardio', 'exercising', 'jog', 'yoga', 'exercised', 'stretching', 'treadmill', 'squat', 'fitness', 'pushup', 'jogging', 'kickboxing', 'runner', 'pr', 'deadlift', 'bike', 'biking', 'kayaking', 'ski', 'activity', 'hiking', 'hike', 'camping', 'swam', 'hiked', 'climbing', 'skiing'], 'supermarket': ['supermarket', 'aisle', 'grocery', 'store', 'shop', 'checkout', 'shopping', 'cashier', 'cart', 'mart', 'walgreens', '711', 'deli', 'kroger', 'mall', 'walmart', 'grab'], 'airport': ['airport', 'layover', 'flight', 'plane', 'airline', 'airplane'], 'anxious': ['anxious', 'paranoid', 'sad', 'antsy', 'jittery', 'panicky', 'anxiety', 'restless', 'tense', 'shaky', 'jittery', 'worrisome', 'afraid', 'scared', 'terrified', 'fear', 'worried', 'ashamed', 'scary', 'embarrassed', 'worry', 'fearing', 'doomed'], 'sad': ['sad', 'lonely', 'depressed', 'disappointed', 'unsatisfied', 'hopeless', 'cry', 'guilty', 'upset', 'miserable', 'bawling', 'unloved', 'depression', 'depressive'], 'stressed': ['stressed', 'stress', 'overwhelmed', 'overworked', 'stressor', 'stressful', 'exhausted', 'stressing', 'agitated', 'unsettled', 'workload', 'irritable', 'stressful', 'juggling'], 'tired': ['tired', 'exhausted', 'sick', 'frazzled', 'sluggish', 'drained', 'groggy', 'nap', 'sleep deprived', 'lack sleep', 'need sleep'], 'frustrated': ['frustrated', 'angry', 'irritated', 'irrationally', 'snapping', 'pissy', 'irritable', 'mad', 'cranky', 'annoyed', 'grumpy', 'agitated', 'anger', 'ugh', 'furious', 'irrationally', 'crabby', 'argumentative', 'overwhelmed', 'bitchy', 'upset', 'antsy', 'moody', 'frustrating', 'rant', 'demoralized', 'resentful', 'pissed', 'exacerbates', 'discouraged', 'whiney', 'defeated', 'snappy', 'cry', 'stewing', 'halt', 'lashing', 'defensive', 'distraught', 'unbearably', 'stewing', 'enraged', 'unloved', 'disrespected', 'hateful'], 'happy': ['happy', 'excited', 'amazing', 'awesome', 'happier', 'enjoying', 'grateful', 'happiness', 'supremely', 'wonderful'], 'proud': ['proud', 'accomplished', 'accomplishment', 'milestone'], 'bored': ['bored', 'boredom', 'boring', 'cooped', 'unmotivated', 'monotony', 'demotivated'], 'weekend': ['friday', 'saturday', 'sunday', 'weekend', 'end week'], 'smoke': ['smoke', 'cigarette', 'weed', 'smoking', 'smoked', 'cigs', 'smoker', 'nicotine', 'juul', 'puff', 'cig', 'bong', 'hash', 'tobacco', 'vape', 'mj', 'cigar', 'toke', 'pot', 'cannabis', 'joint', 'hemp', 'vaping']}

###Analysis

In [ ]:
number_authors = 24435
for c in concepts:
    #print(c, ":", concept_dict[c])
    occ = grouped['processed_post'].str.contains('\s('+'|'.join(concept_dict[c])+')\s').value_counts()[True]*100.0/number_authors
    print(c, ":",round(occ,2),"\%")
print("non-weekend",grouped['processed_post'].str.contains('\s('+'|'.join(['monday','tuesday','wednesday','thursday','friday'])+')\s').value_counts()[True]*100.0/number_authors)
print("depression",grouped['processed_post'].str.contains('\s('+'|'.join(['depression','depressed','depressive'])+')\s').value_counts()[True]*100.0/number_authors)
print("anxiety",grouped['processed_post'].str.contains('\s('+'|'.join(['anxious','anxiety'])+')\s').value_counts()[True]*100.0/number_authors)
print("afternoon",grouped['processed_post'].str.contains('\s('+'|'.join(['after lunch','afternoon','lunch'])+')\s').value_counts()[True]*100.0/number_authors)
print("evening",grouped['processed_post'].str.contains('\s('+'|'.join(['evening','night'])+')\s').value_counts()[True]*100.0/number_authors)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.

alone : 18.06 \%
friend : 33.62 \%
family : 35.83 \%
partner : 36.41 \%
colleague : 3.71 \%
home : 38.99 \%
university : 9.81 \%
work : 49.61 \%
restaurant : 16.74 \%
party : 13.0 \%
workout : 18.9 \%
supermarket : 16.07 \%
airport : 2.14 \%
anxious : 45.01 \%
sad : 30.44 \%
stressed : 16.76 \%
tired : 18.11 \%
frustrated : 24.69 \%
happy : 34.42 \%
proud : 13.53 \%
bored : 8.87 \%
weekend : 26.54 \%
smoke : 12.02 \%

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

non-weekend 14.589727849396358

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  import sys

depression 14.098629015756087

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

anxiety 23.683241252302025

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

afternoon 6.658481686105995

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  # Remove the CWD from sys.path while we load stuff.

evening 43.981993042766526

In [ ]:
#restructure into a one-hot encoding
craving_set = pd.DataFrame()
craving_set['processed_post'] = grouped['processed_post']
craving_set['post'] = grouped['join_posts']
for c in concepts:
    craving_set[c] =  grouped['processed_post'].str.contains('\s('+'|'.join(concept_dict[c])+')\s')
craving_set

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

Warning: total number of rows (24435) exceeds max_rows (20000). Falling back to pandas display.

,processed_post,post,alone,friend,family,partner,colleague,home,university,work,...,anxious,sad,stressed,tired,frustrated,happy,proud,bored,weekend,smoke
0,fuck everything white lightning experience sev...,In which I fuck everything up and then have a ...,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,relapsed happened thursday night alcohol actua...,I relapsed….\nIt happened Thursday night. It w...,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,went drink friend last night embarrassing fast...,Went for a drink with a friend last night and ...,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
3,daily check friday march 25th today drinking m...,"The Daily Check-In for Friday, March 25th: Jus...",True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
4,know better kind scare drink sober wake see cl...,I Know I Can Do Better\nAnd it kind of scares ...,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24430,successful day 3 30 day abstinence promise day...,Successful Day 3 of the 30-day Abstinence prom...,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24431,hanging drinking buddy 15 year tonight everybo...,Hanging with my drinking buddy of 15 years ton...,False,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
24432,day 5 challenge coming soon started new path p...,Day 5 - Challenges coming soon\nStarted on thi...,True,False,True,True,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
24433,drank 6 bud light last night gf left work work...,Drank 6 bud lights last night after my gf left...,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
24434,two week checking earlier month partner told c...,two weeks - checking in\nEarlier this month my...,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
craving_set.to_csv('craving_set.csv', header=True, index=False)